<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>Item Name</td>
        <td>Quantity</td>
        <td>Purchase Price</td>
        <td>Selling Price</td>
    </tr>
    {%for purchases in purchase%}
    <tr>
        <td>{{purchases.item}}</td>
        <td>{{purchases.qty_purchase}}</td>
        <td>{{purchases.purchase_price}}</td>
        <td>{{purchases.selling_price}}</td>
    </tr>
    {%endfor%}
</table>
</body>
</html>